:root {
    --primary-bg-color: #150813;
    --primary-text-color: #f8f9fa;
    --alt-text-color: #292b2e;
    --link-color: var(--nnt-orange);

    /* Brand colors */
    --nnt-orange: #ffc425;
    --nnt-orange-dark: #be8b00;
    --nnt-orange-light: #ffd258;
    --nnt-orange-lighter: #ffe08b;
    --nnt-purple: #a54499;
    --nnt-purple-dark: #5d2656;
    --nnt-purple-light: #bd5fb1;
    --nnt-purple-lighter: #cc83c3;
    --nnt-alt: #2d9189;

    /* Page layout */
    --page-max-width: 1140px;
    --media-query-small: 768px;
}

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* TODO: Replace this with brand font */
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    line-height: 1.6;
}

html,
body {
    min-height: 100%;
}

/* Main content styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    max-width: var(--page-max-width);
    margin: 0 auto;
    padding: 3rem 5rem 0.2rem;
    width: 100%;
}


p {
    max-width: var(--page-max-width);
    margin: 0 auto;
    padding: 1rem 5rem 0;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

/* Can be modified as needed for different screen sizes */
@media (max-width: 768px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        padding: 2rem;
    }
}