:root {
    --primary-bg-color: #1e1e1e;
    --header-bg-color: #292b2e;
    --primary-text-color: #f8f9fa;
    --alt-text-color: #292b2e;
    --link-color: var(--nnt-orange);

    /* Brand colors */
    --nnt-orange: #ffc425;
    --nnt-orange-dark: #be8b00;
    --nnt-orange-light: #ffd258;
    --nnt-orange-lighter: #ffe08b;
    --nnt-purple: #a54499;
    --nnt-purple-dark: #5d2656;
    --nnt-purple-light: #bd5fb1;
    --nnt-purple-lighter: #cc83c3;
    --nnt-alt: #2d9189;

    /* Page layout */
    --page-max-width: 1140px;
    --media-query-small: 768px;
}

/* Reset some default browser styles */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    /* TODO: Replace this with brand font */
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

html,
body {
    min-height: 100%;
}

/* Text Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    max-width: var(--page-max-width);
    margin: 0 auto;
    width: 100%;
}


p {
    margin: 0 auto;
    width: 100%;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

/* Image Styles */

img {
    max-width: 100%;
    height: auto;
}

/* Can be modified as needed for different screen sizes */
@media (max-width: 768px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {}
}